#parse("header.html")

<script type="text/javascript">
    function gotonext(eid){
        window.location.href="/exam/datil/?examId="+eid;
    }
</script>

<div id="main">
    <div class="container" id="daily">
        <div class="jscroll-inner">
            <div class="daily">

                #foreach ($exam in $examList)
                #set($endDate = $exam.endTime)
                <div class="posts"  onclick = "gotonext(${exam.id})">

                    <div class="post" >
                        <div class="content" data-url="/questions/datil/?questionId=$!{question.id}">
                            <div >
                                <img class="content-img" src="$!{exam.url}" alt="">
                            </div>
                            <div class="content-main">
                                <h3 class="title">
                                    <a target="_self" rel="external nofollow" href="/exam/datil/?examId=$!{exam.id}"> 考试ID: $!{exam.id}</a>
                                </h3>
                                <div class="meta">
                                    #set($startYear = $!{exam.startTime.getYear()} + 1900 )
                                    #set($endYear = $!{exam.endTime.getYear()} + 1900 )
                                    考试时间：$startYear/$!{exam.startTime.getMonth()}/$!{exam.startTime.getDay()} $!{exam.startTime.Hours}:$!{exam.startTime.getMinutes()}:$!{exam.startTime.getSeconds()}
                                    ---
                                    $endYear/$!{exam.endTime.getMonth()}/$!{exam.endTime.getDay()} $!{exam.endTime.Hours}:$!{exam.endTime.getMinutes()}:$!{exam.endTime.getSeconds()}

                                    <span>

                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="user-info">
                            <div class="user-avatar">
                                <a href="/exam/rank/?examId=$!{exam.id}">当前排名</a>
                            </div>
                        </div>

                        <div class="subject-name"><a href="/user/$!{vo.user.id}/">
                           </a></div>
                    </div>
                    #end

                </div>
            </div>
        </div>
</div>
    </div>

#parse("footer.html")

